<div class="static-page">
    <div class="top-nav">
        <button class="btn-back" (click)="volver()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
            Volver
        </button>
    </div>

    <div class="content-container">
        <h1 class="page-title">Preguntas Frecuentes</h1>
        <p class="lead-text">Resolvemos tus dudas más comunes al instante.</p>
        
        <div class="faq-list">
            <div class="faq-item" *ngFor="let item of faqs">
                <h3 class="faq-question">{{ item.pregunta }}</h3>
                <p class="faq-answer">{{ item.respuesta }}</p>
            </div>
        </div>

        <div class="contact-box">
            <h3>¿Aún tienes dudas?</h3>
            <p>Escríbenos directamente y te asesoramos.</p>
            <a routerLink="/" class="btn-primary">Volver al inicio</a>
        </div>
    </div>
</div>
